body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    margin: 0;
}

#today {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
}

.message {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
}

table {
    width: 100%;
}

td {
    padding: 1rem;
    border-bottom: 1px solid  #ccc;
}

.time {
    width: 6em;
}

p {
    margin: 0 8px;
}